@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  font-family: "Ubuntu", sans-serif;
}
  
  .gradient-text {
    background-image: linear-gradient(to right, #20d9a1, #3100ff, #5f39ff, #5f39ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .gradient-text-menu {
    background-image: linear-gradient(to right, #20d9a1, #5f39ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .gradient-text-menu-active {
    background-image: linear-gradient(to right, #ffffff, #ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

